<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
    <body>
        <div class="container-fluid">
             <div class="row">
               <div class="col-2">
                     
               </div>
               <div class="col-8">
                    
                         <h1 class="primaryTitle">mun<strong>daze</strong></h1>
                    
                      <div class="loginSection">
                        
                          <h2 class="secondaryTitle">Login</h2>
                        
                            <% if(typeof message !== "undefined" && message.type == "login"){ %>
                                <div class="message">
                                    <p><%= message.text %></p>
                                </div>
                            <% } else { %>
                                <div class="message">
                                    <p>&nbsp;</p>
                                </div>
                            <% } %>
                            <div class="loginForm">
                                <form action="/login" method="POST">
                                    <p>Username: <input class="loginInput" type="text" name="username"></p>
                                    <p>Password: <input class="loginInput" type="password" name="password"></p>
                                    <button class="loginButton" type="submit">login</button>
                                </form>
                            </div>
                                <p id="dontHaveAccount">Don't have an account? Create one here!</p>
                                <button class="loginButton" onclick="toggleRegister()">create account</button>
                            
                        </div>
        
                        <div class="createAccountSection">
                            
                                <h2 class="secondaryTitle">Create Account</h2>
                            
                                <% if(typeof message !== "undefined" && message.type == "register"){ %>
                                    <div class="message">
                                        <p><%= message.text %></p>
                                    </div>
                                <% } else { %>
                                    <div class="message">
                                        <p>&nbsp;</p>
                                    </div>
                                <% } %>

                                <div class="createAccountForm">
                                    <form action="/login/register" method="POST">
                                        <p>Create Username: <input class="loginInput" type="text" name="username"><p>
                                        <p>Create Password: <input class="loginInput" type="password" name="password"></p>
                                        <div class="button">
                                            <button class="loginButton" type="submit">create account</button>
                                        </div>
                                    </form>
                                </div>
                        </div>
               </div>
               <div class="col-2">
               </div>
            </div>
         </div>

        <script>
            function toggleRegister() {
            let createAccount = $(".createAccountSection");
            let loginSection = $(".loginSection");
            let createAccountButton = $(".createAccountButton");
            if (createAccount.css("display", "none")) {
                createAccount.css("display", "grid");
                loginSection.css("display", "none");
                createAccountButton.css("display", "none");

            } else {
                createAccount.css("display", "none");
            }
            }

        </script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    </body>
</html>