/* 
body {
    background: rgba(27,35,41,1);
    background-repeat: no-repeat;
    background-size: cover;
}  */

body {
    background: linear-gradient(to right, rgba(27,35,41,1), rgba(27,35,41,.93)),
    url('https://previews.123rf.com/images/oneinchpunch/oneinchpunch1801/oneinchpunch180100760/93826627-tokyo-japan-october-20-2017-busy-streets-of-shibuya-district-in-tokyo-at-night-japan-shibuya-is-one-.jpg');
 
    background-size: cover;
}


strong {
    background: rgb(176,54,191);
    background: linear-gradient(90deg, rgba(176,54,191,1) 0%, rgba(34,142,154,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    min-height: 80px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.44);
box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.44);
}

.navbar-brand {
    margin: 0px 50px;
    font-weight: 100;
    font-size: 30px;
}

.nav-btn {
    background: rgb(176,54,191);
    border:none;
    color:white;
    background: rgba(34,142,154,1);
    margin: 0px 50px;
}

.about-us {
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 80px 60px;
}

.editDelete {
    display: inline-block;
    margin-left: 10%;
}

h4 {
    font-size: 30px;
    background: rgb(176,54,191);
    background: linear-gradient(90deg, rgba(176,54,191,1) 0%, rgba(34,142,154,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation-duration: 1s;
    animation-name: bounceInDown;
}   


h6 {
    max-width: 800px;
    margin: 20px 0px;
    color: rgba(255,255,255, 0.8);
}

.userposts-header {
    grid-template-columns: repeat(1, 1fr);
    display: inline-grid;
    grid-gap: 1em;
    margin: 0px 0px 40px 0px;
    font-size: 30px;
    background: rgb(176,54,191);
    background: linear-gradient(90deg, rgba(176,54,191,1) 0%, rgba(34,142,154,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.btn {
    background: rgb(176,54,191);
    border:none;
    color:white;
    font-weight: 800;
    background: rgba(34,142,154,1);
}

.location-image {
    line-height: 0;
    overflow: hidden;
}
  
.location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.location-title {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgb(176,54,191);
    background: linear-gradient(135deg, rgba(176,54,191,1) 0%, rgba(34,142,154,1) 100%);    
    color: white;

    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.location-listing:hover .location-title {
    opacity: .75;
    color:white;
    text-decoration: none;
    transition: transform .2s; /* Animation */
}
  
.location-listing:hover .location-image img {
    filter: blur(2px);
}

  /* hover styles for buttons */
.location-listing {
    position: relative;
}

.index-image {
    width: 100%; 
    object-fit: cover;
}

.hoverclass {
    transition: transform .2s; /* Animation */
}

.hoverclass:hover {
    transform: scale(1.05);
}




/* this is the show page styles */
.show-main-container {
    margin: 20px 60px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1em;
    animation-duration: .7s;
    animation-name: appear;
}
@keyframes appear {
    0% {
      transform: scale(0.01);
      opacity: 0;
    }
    100% {
      transform: scale(1);
    }
  }

.share-link {
    word-break: break-all;
}
.grid-container-show .column {
    flex-grow: 1;
    order: 1;
}

.showpage-image {
    width: 100%;
    max-height: 600px ;
    object-fit: contain;
    align-content: space-between;
    min-width: 300px;
}

.show-title {
    font-size: 30px;
    background: rgb(176,54,191);
    background: linear-gradient(90deg, rgba(176,54,191,1) 0%, rgba(34,142,154,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.show-text {
    color: white;
    min-width: 450px;
}

.show-user {
    color: white;
    min-width: 450px;
    opacity: 0.5;
    font-style: italic;
}

@media (min-width: 850px) {
    .grid-container-show {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}

.share-link {
    word-break: break-all;
}
/* end of show page styles */


/* user index page */

.grid-container-user-index {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1em;
    
}

.user-title-card {
    color: white;
    margin: 0px 80px;
    border: solid 0px rgb(176,54,191);
    padding: 10px;
    
}

.user-title-card, .user-name-card:hover {
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 0px 80px;
    background-color: rgba(34,142,154,1);
    border-radius: 5px;
    padding: 10px;
}

.user-name-card { /*this is for the user index */
    color: white;
    margin: 0px 80px;
    border: solid 0px rgb(176,54,191);
    padding: 10px;
    font-size: 17px;
}




/*this is the login page css */


.container-fluid {
    color: white;
}

.row {
    height: 88vh;
}

.col-8 {
    background-size: contain;
    contain: content;
    position: relative;
    text-align: center;
}

.primaryTitle {
    font-size: 13vw;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 100;
    animation-duration: .7s;
    animation-name: bounceInDown;
}

.secondaryTitle {
    font-size: 4vw;
    font-weight: 100;

    
}

.loginInput,
.newPostInput,
.editPostInput {
    border-radius: 5px;
}


.createAccountSection {
    display: none;
}

.loginForm, .createAccountForm {
    margin-bottom: 10%;
    font-weight: 100;
 
}

#dontHaveAccount {
    font-weight: 100;
}

.loginButton {
    background-color: rgb(27,35,41);
    border: none;
    display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    transition: .4s;
    font-weight: 100;
    font-size: 12px;
}
.loginButton:hover {
    color:rgba(34,142,154,1);
}
.loginButton:before,.loginButton:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.loginButton:before{
  border-left: solid 1px rgb(176,54,191);
  border-top: solid 1px rgb(176,54,191);
  border-bottom: solid 1px rgb(176,54,191);
  left: 0;
}
.loginButton:after{
  content: '';
  border-top: solid 1px rgb(176,54,191);
  border-right: solid 1px rgb(176,54,191);
  border-bottom: solid 1px rgb(176,54,191);
  right: 0;
}

/* EDIT and DELETE buttons  */
.editDeleteBtn{
    display: inline-block;
    position: relative;
    padding: 0.25em .5em;
    text-decoration: none;
    color: white;
    transition: .4s;
    font-size: 15px;
}

.editDeleteForm {
    margin: 0 10px;
}


.message {
    font-weight: 100;
}

input[type=text] {
    font-weight: 200;
    margin: 10px;
}


/*User Profile Page*/
.user-h2 {
    color: white;
    text-align: center;
}
.aboutMe {
    color: white;
}
.list-group.list-group-flush .list-group-item {
    background-color: rgb(27,35,41);
    border: none;
}
.a-user {
    color: white;
}

.user-body {
    text-align: center;
    color:white;
}
.user-header {
    text-align: center;
}
.image-frame {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50%;
}
.rounded {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.4);
box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.4);
}

.loginButton.user{
    font-size: 15px;
    top: 18em;
    margin: 10px;
}


.aboutMe-content {
    color: white;
    font-size: 20px;
    font-weight: bold; 
}

#aboutMeText {
    font-weight: 200;
}
.user-posts {
    color: white;
    text-decoration: underline;

}
.wrapper {
    background: linear-gradient(90deg, rgba(176,54,191,.8) 0%, rgba(34,142,154,.7) 100%); 
}
.edit-user {
    color: black;
    margin: 10px;
}


/* NEW POST PAGE */
.newPostTitle, .editTitle {
    font-weight: 100;
    font-size: 7vw;
    margin-bottom: 3%;
    margin-top: 3%;
    animation-duration: .7s;
    animation-name: bounceInDown;
}

@keyframes bounceInDown {
    0% {
       opacity: 0;
       transform: translateY(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateY(20px);
    }
    80% {
       transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
 } 

.newPostForm,
.editForm {
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.5vw;
    color: white;
}

.newPost {
    width: 20vw;
}


textarea {
    height: 15vh;
    width: 25vw;
}

textarea[type=text] {
    font-weight: 200;
    margin: 10px;
}

#goHomeBtn {
    bottom: -8%;
}

/* EDIT YOU PAGE */
.editYouLabel {
    margin-bottom: 0;
}

.submitEdit {
    margin-top: 3%;
}

#mun {
    font-weight: 100;
}






