<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <title>Document</title>
</head>
<body>


<%- include ../partials/_navbar.ejs %>

<div class="background">
<div class="background-image">
</div>
</div>

<div class="about-us">
    <div>
        <h4> Sounds like someone has a case of the mondays...</h4>
         
        <h6 class="about-body">People hate mondays. It's the first day after the weekend, where we laughed, partied, and just had a good time. Unfortunately all good things must come to an end, but that doesn't mean you can't put something fun in its place.</h6>
            <h6>Welcome to mun</span><strong>daze</strong>. Here you can rant about the mundane events going on in your office life, whether it be a story about your coworker who gets on your nerves, or how your boss gave that promotion away to the biggest suck-up without actually putting in the actual work. Whatever it may be, post it here, put a comical twist on it for others to see, and most of all, make it your own. Here, others like you are shaking themselves out of their daze, and stepping away from their desk to post content that others may either find enjoyable, relatable, or just straight-up hilarious.</h6>
            <h6>So dive in head first, and start ranting!</h6>
        </div>
        <div>
            <a href="/posts/new" class="btn btn-light startRant" role="button">Start Your Rant!</a>

            <%# <button type="button" class="btn btn-light">Start Your Rant!</button> %>
        </div>
</div>


<div class="main-container">
    <div class="grid-container">
        <%for(let i = 0; i < posts.length; i++) {%>
            <article class="location-listing">
            <div class="hoverclass" >
                <a class="location-title " href="/posts/<%=posts[i]._id%>"><%=posts[i].title%></a>
                <div class="location-image">
                    <a href="#"><img class="index-image" width="300" height="169" src="<%=posts[i].photo%>" alt="photohere"></a>
                </div>
                </div>
            </article>
            
        <%}%>
    </div>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>
</html>